
$primary: #183753;
$danger: #ff4136;

body {
    font-family: 'Oswald', sans-serif ;
}

@import '../node_modules/bootstrap/scss/bootstrap';
@import url("http://fonts.googleapis.com/css?family=Oswald:400,300,700");
// importing core styling file
 